.flex-container{
    display: flex;
    padding-left: 100px;
}

p{
    font-family: 'Montserrat';
    font-size: 60px;
    color:rgb(187, 187, 187);
    text-align: center; 
}

.animate__swing{
    --animate-duration: 5s;
    --animate-repeat: 5;

}