.flex-container{
    display: flex;
    padding-left: 100px;
}

p{
    font-family: 'Montserrat';
    font-size: 50px;
    color:rgb(63, 61, 61);
    text-align: center; 
}

.animate__rubberBand{
    --animate-duration: 10s;

}