.flex-container{
    display: flex;
    padding-left: 100px;
}

p{
    font-family: 'Montserrat';
    font-size: 60px;
    color:rgb(24, 23, 23);
    text-align: center; 
}

.animate__shakeX{
    --animate-duration: 10s;

}