.flex-container{
    display: flex;
    justify-content: left;
    padding-left: 50px;
    padding-top: 80px;
}

p{
    font-family: 'Montserrat';
    font-size: 60px;
    color: #832161;
}

.animate__bounceInLeft{
    --animate-duration: 3s;
}