.flex-container{
    display: flex;
    justify-content: left;
}

p{
    font-family: 'Montserrat';
    font-size: 60px;
    color: #832161;
    position: absolute;
    margin-bottom: -200px;
}

.animate__bounceInLeft{
    --animate-duration: 3s;
}